body {
  background-color: #2f4f4f;
  background-image: url(../img/sky.jpg);
}
button, 
button:active, 
button:focus {
  outline: none;
}
.removeButton, .btnChange {
    font-size: 110%;
    color: darkred;
    width: 24px;
    height: 24px;
    border: none;
    background: transparent;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  div.description p {
    font-style: italic;
  }
  .btnChange {
    color: black;
    right: 30px;
  }
  
  li{
    height: 104px;
    position: relative;
    display: flex;
    justify-content: space-around;
    background-color: peachpuff;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  div.text{
    position: absolute;
    left: 10px;
    top: 10px;
  }
  #add{
    margin: 0 auto;
    width: 80%;
    min-height: 80vh;
  }
  ul{
    padding: 0;
  }
  .list{
    display: flex;
    border: 10px solid greenyellow;
      margin: 10px 0;
      background: peachpuff;
      border-radius: 10px;
  }
  .list input {
    width: 90%;
    border: transparent;
    border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
  }
  .list button{
    width: 10%;
    border: transparent;
    background: darkseagreen;
      padding: 5px;
    border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
    cursor: pointer;
  }
  #city{
    height: 173px;
    width: 200px;
    background-color: burlywood;
    border-radius: 10px;
  }
  .text span{
    padding: 0 0 5px;
    font-weight: bold;
  }
  h3 {
    text-align: center;
    margin: 0;
    padding: 5px 0;
  }
  .content{
    display: flex;
      align-items: center;
      justify-content: space-around;
  }
  .divCity {
    padding: 7px;
    text-align: center;
  }
  div#course h4, p{
    margin: 5px 0;
    text-align: center;
  }
  div#course input {
    margin: 0 0 0 5px;
    width: 65px;
  }
  div#course {
      display: flex;
      height: 130px;
      width: 220px;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;
    background-color: burlywood;
      border-radius: 10px;
  }
  div#footer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0 auto;
      width: 80%;
      min-height: 20vh;
  }
  .divCity span {
    padding-left: 5px;
 }
  